<!DOCTYPE html>
<html>
  <head>
    <title>The Chinese Wall</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    <script type="module">
      import { h, Component, render } from 'https://esm.sh/preact';
      import {
        useEffect,
        useMemo,
        useState
      } from 'https://esm.sh/preact/hooks';
      import htm from 'https://esm.sh/htm';

      const html = htm.bind(h);

      const formatter = new Intl.DateTimeFormat('en-US', {
        year: 'numeric',
        month: 'short',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
      });

      function App(props) {
        const [logs, setLogs] = useState([]);

        useEffect(() => {
          fetch('/logs')
            .then((response) => response.json())
            .then((data) => setLogs(data.logs))
            .catch((error) => console.error('Error fetching data:', error));
        }, []);

        return html`<table role="grid">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Prompt</th>
              <th scope="col">Response</th>
            </tr>
          </thead>
          <tbody>
            ${logs.map((log, index) => {
              const utcDate = new Date(`${log[1]}Z`);
              const formattedDateString = formatter.format(utcDate);

              return html`
                <tr key=${index}>
                  <th scope="row">${log[4]}</td>
                  <td>${formattedDateString}</td>
                  <td>${log[2]}</td>
                  <td>${log[3]}</td>
                </tr>
              `;
            })}
          </tbody>
        </table>`;
      }

      render(html`<${App} />`, document.body);
    </script>
  </body>
</html>
